* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background-color: #08111e; */
  min-height: 1000px;
}

.background-text {
  left: 0;
  z-index: -10;
  overflow: hidden;
  filter: blur(8px);
}

section.parallax-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section .parallax-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.cover-image-title {
  font-size: 8rem;
}
.cover-image-subtitle {
  font-size: 5rem;
}
